@import "bulma/css/bulma.css";
@import "@fontsource/josefin-sans/index.css";
@import "@fontsource/raleway/index.css";
@import "@fontsource/alex-brush/index.css";

/** countdown */
/** ------------- */
/** for google map */
:root {
    --overlay-color-65: #c28285; //rgba(33, 13, 14, .6);
    --overlay-color: rgba(0, 0, 0, 1);
    --bg-2-color: #e9c0bb; //rgba(202, 140, 131, .8);
    --scrollbar-thumb-color: rgb(0, 0, 0);
    --bg-3-color: #afc7be; // rgba(230, 212, 205, .8);
    --bg-4-color: rgba(62, 56, 55, 1);
    --bg-footer-color: #e9c0bb;
    --lang-switcher-active-color: rgba(33, 13, 14, .23);
    --w-btn-color: #6cc751;
    --w-btn-b-color: #59a543;
    --color-black: #000;
    --color-white: #fff;
}

$color1_1: #F4E2E2;
$color1_2: #EDD2D1;
$color1_3: #c28285;






$font-family_1: 'Raleway', Tahoma, sans-serif;
$font-family_2: 'Raleway', sans-serif;
$font-family_3: 'Alex Brush', sans-serif;






.app {
    position: relative;
    width: 100%;
    //height: 100%;
}

.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* * {
    box-sizing: border-box;
} */



html {
    font-family: $font-family_1;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    // TODO: fix overflow
    width: 100%;
    height: 100%;

    main {
        width: 100%;
        height: 100%;
        // overflow: hidden;
    }
}

.header-wrapper {
    // padding-bottom: 30px;
    height: 100%;
}

.navbar-item {
    line-height: 38px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;

    &:hover {
        color: #000;
    }
}

.navbar-item.is-active {
    border-bottom: 2px solid $color1_2;
    //--bulma-navbar-item-background-a: 0 !important;
    background-color: var(--lang-switcher-active-color);
    --overlay-color: var(--scrollbar-thumb-color);
}

.a.navbar-item {
    color: var(--overlay-color);
}

.navbar {
    position: relative;
    max-width: 100%;
    max-width: 100vh;
    display: none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-burger {
    --bulma-navbar-burger-color: #fff;
}

#menu-switch {
    display: none;

    &:checked+.navbar-menu {
        display: block;
    }
}

.navbar-brand {
    background-color: var(--overlay-color-65);
}

.navbar-menu {
    background-color: var(--overlay-color-65);
    --bulma-navbar-item-color: #fff;
    --bulma-focus-h: rgba(33, 13, 14);
    padding: 0;
}

.hero {
    background-color: #fff; //var(--overlay-color-65);
    // background-size: cover;
    color: var(--color-white);
    // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: $font-family_2;
    height: 100%;
    justify-content: unset; // overdide bulma! 

    .title {
        font-family: $font-family_3;
        font-weight: 700;
        // transform: rotate(-2deg);
        font-size: 5rem;
        padding-bottom: 5px;
        color: var(--color-black);
        word-spacing: 0.3rem;
    }

    .subtitle {
        padding: 0.5rem; // 35px;
        color: var(--color-black);
        font-size: 1.3rem;
    }

    .hero-body-title {
        padding-top: 0.5rem; // 35px;
        font-size: 1.5rem;
    }

    .navbar {
        background: #fff;
    }
}

.hero-foot {
    height: auto; // 50px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
    display: flex;

    // https://bulma.io/documentation/components/navbar/
    // not working... https://stackoverflow.com/questions/45530235/the-property-position-sticky-is-not-working
    position: sticky !important;
    top: 0;
    z-index: 1000;


    .hero-foot--wrapper {
        margin: 7px auto;
        height: auto; // 50px;

        .hero-menu-desktop {
            line-height: 38px;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 1rem;

            ul {
                li {
                    display: inline-block;
                    padding-right: 15px;
                    padding-left: 15px;

                    a {
                        color: var(--overlay-color);

                        &:hover {
                            color: var(--overlay-color);
                            transition: all .2s ease-in-out;
                            border-bottom: 2px solid var(--bg-footer-color);
                        }
                    }
                }

                li.is-active {
                    a {
                        border-bottom: 2px solid var(--overlay-color);
                    }
                }
            }
        }
    }
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-intro {
    background-color: #fff;
    color: #000;
    font-family: $font-family_2;
}


.main-content {
    background-color: #fff;
    color: var(--color-black);
    font-family: $font-family_2;

    .color-1 {
        background-color: $color1_1;
    }

    .color-2 {
        background-color: $color1_2;
    }

    .color-3 {
        background-color: $color1_3;
    }

    .section-color {
        padding: 80px 40px;
    }

    .section-dark.resume {
        height: 400px;
        padding-top: 60px;

        .title {
            padding: 20px;
        }

        button {
            border: 2px solid var(--overlay-color);
            background: white;
            color: var(--overlay-color);
            ;
            height: 50px;
            width: 250px;
            font-size: 1rem;
            text-transform: uppercase;
        }
    }

    .section-dark.my-work {
        padding: 80px 40px;

        .work-item {
            &:hover {
                -webkit-transform: scale(1.055) translateY(-2px);
                transform: scale(1.055) translateY(-2px);
                -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
                box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
            }
        }
    }

    .section-dark.foto-foto {
        .foto-item {
            margin-bottom: 1rem;
            -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
            border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
        }
    }

    .section-light {
        padding: 80px 40px;
    }

    .section-light.regular-section {
        padding-bottom: 80px;

        .is-larger {
            font-size: 1.2rem;
        }

        .right-image {
            img {
                border-radius: 11px;
                margin: 20px;
                box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
            }
        }
    }

    .section-light.skills {
        padding: 100px;

        h1 {
            padding: 10px;
            font-size: 24px;
        }
    }

    .section-light.contact {
        padding: 80px;

        button {
            width: 100%;
            color: var(--color-white);
            height: 50px;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-family: $font-family_2;
        }
    }

    .section-color.pertanyaan {
        padding: 100px;
        background-color: var(--overlay-color);
        color: var(--color-white);

        .title {
            color: var(--color-white);
        }

        .subtitle {
            color: var(--color-white);
        }

        i {
            font-size: 3rem;
            padding: 20px;
        }
    }

    .section-title {
        font-family: $font-family_2;
        font-weight: 900;
        color: var(--overlay-color);
        ;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0px;
        padding-bottom: 60px;
    }

    .no-padding-top {
        padding-top: 0px;
    }
}

.card {
    --bulma-card-color: var(--bulma-text);
    --bulma-card-background-color: var(--overlay-color-65);
    --bulma-card-content-padding: 0.4rem;

    .title,
    .subtitle {
        color: #fff;
    }

}

.section-map {
    padding: 0 0 0 0;
}

.name-big {
    font-family: $font-family_3;
    color: var(--overlay-color);
    ;
    font-size: 3rem;
    letter-spacing: 0px;
    padding-top: 0.5rem;
    line-height: 3.7rem;
}

.ampersand {
    font-size: 4rem;
    font-family: $font-family_3;
    color: var(--overlay-color);
    ;
    line-height: 4rem;
    display: inline-block;
    vertical-align: top;
}

.bodytext {
    font-size: 18px;
}

.date {
    font-size: 1.4rem;
    font-family: $font-family_2;
}

.date-num {
    font-size: 5rem;
    font-family: $font-family_2;
    font-weight: 900;
    line-height: 1;
}

.location {
    font-size: 1.4rem;
    font-family: $font-family_2;
    margin-bottom: 50px;
}

.has-vertically-align {
    vertical-align: middle;
}

.footer {
    bottom: 0;
    // width: 100vw;
    padding: 10px 10px 10px 10px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    background: var(--bg-footer-color);
    color: whitesmoke;

    p {
        color: var(--color-white);
        font-weight: 500;
        font-size: 10pt;
        display: inline-block;
        vertical-align: middle;
    }

    img {
        margin: 10px 0px 10px 10px;
        display: inline-block;
        max-height: 24px;
        vertical-align: middle;
    }


    .container {
        a {
            display: inline-flex;
            padding: 0 0.5rem;
        }
    }
}

.divider {
    padding: 40px 25px;
    display: inline-block;
    max-height: 100px;
    vertical-align: middle;
}

.intro-image {
    margin: 25px;
    display: inline-block;
    max-height: 50px;
    vertical-align: middle;
}


.btn-whatsapp {
    &.mail {
        --w-btn-b-color: #7d471b;
        --w-btn-color: #894f1f;
    }

    &:hover {
        color: var(--color-white);
        background-color: var(--w-btn-b-color);
        font-size: 1.2rem;
        border-radius: 10px;
        border: 2px solid var(--w-btn-b-color);
        width: 210px;
        height: 65px;
        align-items: center;
        margin: 1rem;
    }

    background-color: var(--w-btn-color);
    width: 210px;
    height: 65px;
    color: var(--color-white);
    font-size: 1.2rem;
    border-radius: 10px;
    border-left: 1px solid var(--w-btn-color);
    border-right: 1px solid var(--w-btn-color);
    border-top: 1px solid var(--w-btn-color);
    border-bottom: 1px solid var(--w-btn-color);
    align-items: center;
    margin: 1rem;
}

.btn-cta {
    &:hover {
        color: var(--color-white);
        background-color: #bf7877;
        font-size: 1.2rem;
        border-radius: 10px;
        border: 2px solid #bf7877;
        width: 210px;
        height: 65px;
        align-items: center;
        margin: 1rem;
    }

    background-color: #996E6D;
    width: 210px;
    height: 65px;
    color: var(--color-white);
    font-size: 1.2rem;
    border: 2px solid #996E6D;
    border-radius: 10px;
    align-items: center;
    margin: 1rem;
}

.tile {
    border-radius: 10px;
}

.countdownContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.simply-section>div {
    display: flex;
    flex-direction: column;
}

#countdownEle {
    display: flex;
    max-width: 650px;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}


.section-light {
    // background-image: url("/19638.png");
    background-position: bottom -30px center;
    background-repeat: no-repeat;
    background-size: initial;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
}

.gmap_iframe {
    height: 500px !important;
}

@media (max-width: 599px) {
    .hero {
        min-height: 390px;

        .navbar {
            display: block;
        }
    }

    .hero-image {
        margin-top: calc(var(--bulma-navbar-height) + 0.7rem);
        img{
            max-width: 599px;
        }
    }


    .divider {
        padding: 30px 0px;
    }


    .hero-foot {
        display: none;
    }


    .main-content {
        .section-dark.resume {
            padding-top: 75px;
        }

        .section-light.regular-section {
            .about-links {
                text-align: center;
            }

            .right-image {
                img {
                    margin: auto;
                }
            }
        }

        .section-light.skills {
            padding: 50px 20px 40px 20px;
            padding-bottom: 20px;
        }

        .section-light.contact {
            padding: 80px 40px;
        }
    }
}

@media (max-width: 469px) {
    .grid.is-col-min-16 {
        --bulma-grid-column-min: 100%;
    }
}

@media (max-width: 1024px) {
    .hero-body {
        background-size: contain;
        background-position-y: top var(--bulma-navbar-height);
    }
}

@media (max-width: 540px) {
    .hero-body {
        background-position-y: var(--bulma-navbar-height);
    }

    .hero {
        .title {
            font-weight: 700;
            font-size: 2.5rem;
            padding-bottom: 5px;
        }
    }

    .name-big {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .ampersand {
        font-size: 2rem;
        line-height: 2rem;
    }
}


// lang
.lang-switcher {
    --bulma-navbar-item-color: #fff;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--bulma-navbar-height);
        padding: 0rem 0.5rem;
        color: var(--bulma-navbar-item-selected-color-l); // var(--bulma-navbar-item-color);

        &.active {
            background-color: var(--lang-switcher-active-color);
            color: var(--bulma-navbar-item-selected-color-l);
            font-weight: bolder;
        }
    }
}

.hero-foot {
    .lang-switcher {
        a {
            &.active {
                background-color: $color1_2;
            }
        }
    }
}

.navbar {
    .lang-switcher {
        a {
            min-height: var(--bulma-navbar-height);
        }

    }
}

.hero-menu-desktop {
    .lang-switcher {
        &.active {
            background-color: var(--overlay-color);
            color: var(--bulma-navbar-item-selected-color-l);
            border-bottom: 2px solid var(--color-white);
        }
    }
}