@import "bulma/css/bulma.css";
@import "@fontsource/josefin-sans/index.css";
@import "@fontsource/raleway/index.css";
@import "@fontsource/alex-brush/index.css";

/** countdown */
/** ------------- */
/** for google map */
:root {
    --overlay-color: rgba(0, 0, 0, 1);
    --scrollbar-thumb-color: rgb(0, 0, 0);
    --bg-footer-color: #e9c0bb;
    --lang-switcher-active-color: rgba(33, 13, 14, .23);
    --w-btn-color: #6cc751;
    --w-btn-b-color: #59a543;
    --color-black: #000;
    --color-white: #fff;
    --bg-color-1: #F4E2E2;
    --bg-color-2: #EDD2D1;
    --bg-color-3: #c28285;
    --bg-color-4: #c28285; //rgba(33, 13, 14, .6);
    --bg-color-5: #996E6D;
    --bg-color-5-hover: #bf7877;
}


$font-family_1: 'Raleway', Tahoma, sans-serif;
$font-family_2: 'Raleway', sans-serif;
$font-family_3: 'Alex Brush', sans-serif;
$font-family_4: 'Josefin Sans', sans-serif;



.app {
    position: relative;
    width: 100%;
    //height: 100%;
}

.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* * {
    box-sizing: border-box;
} */



html {
    font-family: $font-family_1;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    // TODO: fix overflow
    width: 100%;
    height: 100%;

    main {
        width: 100%;
        height: 100%;
        // overflow: hidden;
    }
}

.header-wrapper {
    // padding-bottom: 30px;
    height: 100%;
}

.navbar-item {
    line-height: 38px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;

    &:hover {
        color: #000;
    }
}

.navbar-item.is-active {
    border-bottom: 2px solid var(--bg-color-2);
    //--bulma-navbar-item-background-a: 0 !important;
    background-color: var(--lang-switcher-active-color);
    --overlay-color: var(--scrollbar-thumb-color);
}

.a.navbar-item {
    color: var(--overlay-color);
}

.navbar {
    position: relative;
    max-width: 100%;
    max-width: 100vh;
    display: none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-burger {
    --bulma-navbar-burger-color: #fff;
}

#menu-switch {
    display: none;

    &:checked+.navbar-menu {
        display: block;
    }
}

.navbar-brand {
    background-color: var(--bg-color-4);
}

.navbar-menu {
    background-color: var(--bg-color-4);
    --bulma-navbar-item-color: #fff;
    --bulma-focus-h: rgba(33, 13, 14);
    padding: 0;
}

.hero {
    background-color: #fff; //var(--bg-color-4);
    // background-size: cover;
    color: var(--color-white);
    // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: $font-family_2;
    height: 100%;
    justify-content: unset; // overdide bulma! 

    .title {
        font-family: $font-family_3;
        font-weight: 700;
        // transform: rotate(-2deg);
        font-size: 5rem;
        padding-bottom: 5px;
        color: var(--color-black);
        word-spacing: 0.3rem;
    }

    .subtitle {
        padding: 0.5rem; // 35px;
        color: var(--color-black);
        font-size: 1.3rem;
    }

    .hero-body-title {
        padding-top: 0.5rem; // 35px;
        font-size: 1.5rem;
    }

    .navbar {
        background: #fff;
    }
}

.hero-foot {
    height: auto; // 50px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
    display: flex;

    // https://bulma.io/documentation/components/navbar/
    // not working... https://stackoverflow.com/questions/45530235/the-property-position-sticky-is-not-working
    position: sticky !important;
    top: 0;
    z-index: 1000;


    .hero-foot--wrapper {
        margin: 7px auto;
        height: auto; // 50px;

        .hero-menu-desktop {
            line-height: 38px;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 1rem;

            ul {
                li {
                    display: inline-block;
                    padding-right: 15px;
                    padding-left: 15px;

                    a {
                        color: var(--overlay-color);

                        &:hover {
                            color: var(--overlay-color);
                            transition: all .2s ease-in-out;
                            border-bottom: 2px solid var(--bg-footer-color);
                        }
                    }
                }

                li.is-active {
                    a {
                        border-bottom: 2px solid var(--overlay-color);
                    }
                }
            }
        }
    }
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-intro {
    background-color: #fff;
    color: #000;
    font-family: $font-family_2;
}


.main-content {
    background-color: #fff;
    color: var(--color-black);
    font-family: $font-family_2;

    strong {
        color: var(--color-black);
    }

    a.link-in-text{
        text-decoration: underline;
    }


    .section-color {
        padding: 60px 40px;
        --bulma-link-text: var(--bg-color-3);

        .section-title {
            color: var(--bg-color-5);
        }

        &.last {
            padding-bottom: 15px;
        }

        &.first {
            padding: 20px 40px;
        }
    }

    .color-1 {
        color: var(--bg-color-1);
    }

    .color-2 {
        color: var(--bg-color-2);
    }

    .color-3 {
        color: var(--bg-color-3);
    }

    .color-4 {
        color: var(--bg-color-4);
    }

    .bg-color-1 {
        background-color: var(--bg-color-1);
    }

    .bg-color-2 {
        background-color: var(--bg-color-2);
    }

    .bg-color-3 {
        background-color: var(--bg-color-3);

        .section-title {
            color: var(--color-white);
        }

        .subtitle,
        .h2 {
            color: var(--color-white);
        }
    }

    .section-title {
        font-family: $font-family_2;
        font-weight: 900;
        color: var(--overlay-color);
        ;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0px;
        padding-bottom: 0.5rem;
    }

    .no-padding-top {
        padding-top: 0px;
    }
}

.card {
    --bulma-card-color: var(--bulma-text);
    --bulma-card-background-color: var(--bg-color-2);//var(--bg-color-4);
    --bulma-card-content-padding: 0.4rem;

    .title,
    .subtitle {
        color: var(--bg-color-5); // #fff;
    }

}

.section-map {
    padding: 0 0 0 0;
}

.name-big {
    font-family: $font-family_3;
    color: var(--overlay-color);
    font-size: 3rem;
    letter-spacing: 0px;
    padding-top: 0.5rem;
    line-height: 3.7rem;
}

.ampersand {
    font-size: 2.5rem;
    font-family: $font-family_3;
    color: var(--overlay-color);
    line-height: 2.5rem;
    display: inline-block;
    vertical-align: top;
}


.date {
    font-size: 1.4rem;
    font-family: $font-family_2;
}

.date-num {
    font-size: 5rem;
    font-family: $font-family_2;
    font-weight: 900;
    line-height: 1;
}

.location {
    // font-size: 1.4rem;
    font-family: $font-family_2;
    margin-bottom: 50px;
}

.has-vertically-align {
    vertical-align: middle;
}

.footer {
    bottom: 0;
    // width: 100vw;
    padding: 10px 10px 10px 10px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    background: var(--bg-color-2);
    color: whitesmoke;

    p {
        color: var(--color-white);
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
    }

    img {
        margin: 10px 0px 10px 10px;
        display: inline-block;
        max-height: 24px;
        vertical-align: middle;
    }


    .container {
        a {
            display: inline-flex;
            padding: 0 0.5rem;
        }
    }
}


.intro-image {
    margin: 0 0 1.5rem 0;
    display: inline-block;
    vertical-align: middle;
}


.btn-whatsapp {
    &.mail {
        --w-btn-b-color: #7d471b;
        --w-btn-color: #894f1f;
    }

    &:hover {
        color: var(--color-white);
        background-color: var(--w-btn-b-color);
        font-size: 1.2rem;
        border-radius: 10px;
        border: 2px solid var(--w-btn-b-color);
        width: 210px;
        height: 65px;
        align-items: center;
        margin: 1rem;
    }

    background-color: var(--w-btn-color);
    width: 210px;
    height: 65px;
    color: var(--color-white);
    font-size: 1.2rem;
    border-radius: 10px;
    border-left: 1px solid var(--w-btn-color);
    border-right: 1px solid var(--w-btn-color);
    border-top: 1px solid var(--w-btn-color);
    border-bottom: 1px solid var(--w-btn-color);
    align-items: center;
    margin: 1rem;
}

.btn-cta {
    &:hover {
        color: var(--color-white);
        background-color: var(--bg-color-5-hover);
        font-size: 1.2rem;
        border-radius: 10px;
        border: 2px solid var(--bg-color-5-hover);
        width: 210px;
        height: 65px;
        align-items: center;
        margin: 1rem;
    }

    background-color: var(--bg-color-5);
    width: 210px;
    height: 65px;
    color: var(--color-white);
    font-size: 1.2rem;
    border: 2px solid var(--bg-color-5);
    border-radius: 10px;
    align-items: center;
    margin: 1rem;
}

.tile {
    border-radius: 10px;
}

.countdownContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.simply-section>div {
    display: flex;
    flex-direction: column;
}

#countdownEle {
    display: flex;
    max-width: 650px;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}


.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
}

.gmap_iframe {
    height: 500px !important;
}

@media (max-width: 599px) {
    .hero {
        min-height: 390px;

        .navbar {
            display: block;
        }
    }

    .hero-image {
        margin-top: calc(var(--bulma-navbar-height) + 0.7rem);

        img {
            max-width: 100%;
        }
    }

    .hero-foot {
        display: none;
    }
}

@media (max-width: 469px) {
    .grid.is-col-min-16 {
        --bulma-grid-column-min: 100%;
    }
}

@media (max-width: 1024px) {
    .hero-body {
        background-size: contain;
        background-position-y: top var(--bulma-navbar-height);
    }
}

@media (max-width: 540px) {
    .hero-body {
        background-position-y: var(--bulma-navbar-height);
    }

    .hero {
        .title {
            font-weight: 700;
            font-size: 2.5rem;
            padding-bottom: 5px;
        }
    }

    .name-big {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .ampersand {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}


// lang
.lang-switcher {
    --bulma-navbar-item-color: #fff;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--bulma-navbar-height);
        padding: 0rem 0.5rem;
        color: var(--bulma-navbar-item-selected-color-l); // var(--bulma-navbar-item-color);

        &.active {
            background-color: var(--lang-switcher-active-color);
            color: var(--bulma-navbar-item-selected-color-l);
            font-weight: bolder;
        }
    }
}

.hero-foot {
    .lang-switcher {
        a {
            &.active {
                background-color: var(--bg-color-2);
            }
        }
    }
}

.navbar {
    .lang-switcher {
        a {
            min-height: var(--bulma-navbar-height);
        }

    }
}

.hero-menu-desktop {
    .lang-switcher {
        &.active {
            background-color: var(--overlay-color);
            color: var(--bulma-navbar-item-selected-color-l);
            border-bottom: 2px solid var(--color-white);
        }
    }
}